image:
- Visual Studio 2019
- macOS
- Ubuntu

skip_branch_with_pr: true

stack: python 3.10

install:
- pip install -r requirements.txt

build_script:
- pyinstaller main.py --name counter --noconsole --noconfirm --onefile

test: off

for:
-
  matrix:
    only:
    - image: Visual Studio 2019

  after_build:
  - 7z a counter-windows.zip %CD%\dist\*.exe

  artifacts:
  - path: counter-windows.zip

-
  matrix:
    only:
    - image: macOS

  after_build:
  - tar -czvf counter-linux.tar.gz -C dist counter.app

  artifacts:
  - path: counter-macos.tar.gz

-
  matrix:
    only:
    - image: Ubuntu

  after_build:
  - tar -czvf counter-linux.tar.gz -C dist counter

  artifacts:
  - path: counter-linux.tar.gz